.notification-count {
  position: absolute;
  bottom: 34px;
  top: 12px;
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  margin-left: -33px;
  width: 23px;
}

.nav {
  background-color: #3a3f8b !important;
  height: 85.48px;
  justify-content: center;
  /* position: fixed; */
}

.right button {
  border-radius: 30px;
  background: #ffff;
  color: #010101;
  margin: 15px;
  padding: 5px;
}
.right img {
  border-radius: 50%;
}


/* Add the following styles to make the Navbar more responsive */

/* For small screens, reduce padding and font size */
@media (max-width: 600px) {
  .nav {
    height: 60px;
  }

  .right button {
    margin: 10px;
    padding: 3px;
  }
}

/* For small screens, reduce padding and font size */
@media (max-width: 600px) {
  .nav {
    height: 60px;
  }

  .right button {
    margin: 10px;
    padding: 3px;
  }
}

/* For screens as small as 450px in width */
@media (max-width: 450px) {
  .nav {
    height: 50px;
  }

  .right button {
    margin: 5px;
    padding: 2px;
    font-size: 12px;
  }
}

/* For screens as small as 350px in width */
@media (max-width: 350px) {
  .nav {
    height: 40px;
  }

  .right button {
    margin: 5px;
    padding: 2px;
    font-size: 10px;
  }
}




/* 
.nav {
  background-color: #3a3f8b !important;
  height: 85.48px;
  justify-content: center;
}

.pbtn {
  border-radius: 30px;
  background: #ffff;
  color: #010101;
  margin: 15px;
  padding: 5px;
}

.pbtn:hover {
  background-color: #ffff !important;
}

.right img {
  border-radius: 50%;
}

.profile_btn {
  width: 130.96px;
  height: 42.5px;
  color: #010101;
  font-family: "lato", sans-serif;
  font: 16px;
}

.btn-text {
  font-size: 16px;
  font-family: lato, sans-serif;
}

@media screen and (max-width: 990px) {
  .container-fluid {
    position: absolute;
  }
} */
