.initial-select {
    width: 758px;
    padding-top: 2px;
    justify-content: center;
    color: #212529;
    align-items: center;
    /* border: 2px solid green; */
}



.initial-select .selection {
    width: 745px;
    height: 52px;
    border: 1px solid #e1dada;
    outline: none;
    padding-left: 4px;
    font-size: 16px;
    font-family: 'lato', sans-serif;
    text-align: left;
    color: #3a3a3ac6;
    text-align: left;
    /* border: 2px solid brown; */

}


/* 
.drop-down-label {

    font-size: 16px;
    font-family: 'lato', sans-serif;

} */